
{% extends "template.html" %}

{% block head %}

<link rel="stylesheet" href="/static/deck/core/deck.core.css">
<link rel="stylesheet" href="/static/deck/css/home.css">
<link rel="stylesheet" href="/static/deck/themes/style/swiss.css">
<link rel="stylesheet" href="/static/deck/themes/transition/fade.css">

<script src="/static/deck/modernizr.custom.js"></script>

{% endblock %}


{% block main %}





<section class="slide page" id="about">
  <div class="row-fluid page narrow" >
    <h2>Daniel Silverstein</h2>
    <div class="sample-content">


      <p><small>Worked as part of the 1000+ scientist experiment using the LHC at CERN.  </small></p>
      <p><small> Over the course of 6 years, I got to work on many projects including <b> hardware, firmware: </b> focusing on increasing the performance of the algorithms and <b>software: </b> statistical analyses in the search for dark matter.</small></p>

    </div>
    <div class="row-fluid" >
      <div class="sample-content">
	<div class="span6">
	  <img src="/static/images/lhc.jpg" style="height: 190px;">
	</div>
      </div>
    </div>

  </div>


</section>



<section class="slide page" id="about">
  <div class="row-fluid page " >
    <h2>Daniel Silverstein</h2>
    <div class="sample-content">


      <p><small>Worked as part of the 1000+ scientist experiment using the LHC at CERN.  </small></p>
      <p><small> Over the course of 6 years, I got to work on many projects including <b> hardware, firmware: </b> focusing on increasing the performance of the algorithms and <b>software: </b> statistical analyses in the search for dark matter.</small></p>

    </div>
    <div class="row-fluid" >
      <div class="sample-content">
	<div class="span6">
	  <img src="/static/images/lhc.jpg" style="height: 190px;">
	</div>
      </div>
    </div>

  </div>


</section>



<section class="slide page" id="cartoon">
  <div class="row-fluid page container-narrow" >
    <h2>Graduate Research</h2>
    <div class="sample-content">
      <div class="span12 row-fluid">
	<img src="/static/images/techStuff.png" style="height: 450px; border: 3px solid black;" >
      </div>
    </div>
  </div>
</section>



<section class="slide page" id="empty">
  <div class="row-fluid page container-narrow" >
  </div>
</section>



<section class="slide page" id="tech">
  <div class="row-fluid page container-narrow" >
    <h2>Technology Details</h2>
    <div class="sample-content">

      <div class="span12 row-fluid">
	<p><small>Using a modified version of the wilson score confidence interval.  Calculates an uncertainty on the rating.</small></p>
	<img src="/static/images/wilson.png" style="height: 60px;">
	<p><small>Rating is scaled toward the average via the calcuated uncertainty.  Restaurants with few (<40) reviews tend toward the extremes of the rating scale when compared to those with more reviews (>40)</small></p>
	<img src="/static/images/r23.png" style="height: 350px;">

      </div>
    </div>
  </div>
</section>






<!-- Deck Core and extensions -->
<script src="/static/deck/core/deck.core.js"></script>
<script src="/static/deck/extensions/hash/deck.hash.js"></script>
<script src="/static/deck/extensions/menu/deck.menu.js"></script>
<script src="/static/deck/extensions/goto/deck.goto.js"></script>
<script src="/static/deck/extensions/status/deck.status.js"></script>
<script src="/static/deck/extensions/navigation/deck.navigation.js"></script>

<!-- Initialize the deck -->
<script>
  $(function() {
  $.deck('.slide');
  });
</script>

{% endblock %}

