
{% extends "template.html" %}

{% block head %}

<link rel="stylesheet" href="/static/deck/core/deck.core.css">
<link rel="stylesheet" href="/static/deck/css/home.css">
<link rel="stylesheet" href="/static/deck/themes/style/swiss.css">
<link rel="stylesheet" href="/static/deck/themes/transition/fade.css">

<script src="/static/deck/modernizr.custom.js"></script>

{% endblock %}


{% block main %}



<section class="slide page" id="cartoon">
  <div class="row-fluid page container-narrow" >
    <h2>Application Details</h2>
    <div class="sample-content">
      <div class="span12 row-fluid">
	<img src="/static/images/techStuff.png" style="height: 450px; border: 3px solid black;" >
      </div>
    </div>
  </div>
</section>




<section class="slide page" id="about">
  <div class="row-fluid page " >
    <h2>Daniel Silverstein</h2>
    <div class="sample-content">

	<div class="span6">
	<img src="/static/images/pixels.jpg" style="height: 160px;">
	</div>


	<p><small>Worked as part of the 1000+ scientist experiment using the LHC at CERN.  Detector calibration (algorithms) and searching for dark matter (machine learning).</small></p>
    </div>
    <div class="row-fluid" >
      <div class="sample-content">
	<div class="span6">
	  <img src="/static/images/coaching.jpg" style="height: 190px;">
	</div>
	<p><small>A large amount of free time is devoted to ultimate frisbee - coaching, managing, and administrating</small></p>
	
      </div>
    </div>

  <div class="row-fluid" >
    <div class="sample-content">
      <div class="span6">
	<img src="/static/images/old.jpg" style="height: 180px;">
      </div>
      <p><small>And sometimes playing too (when I was young)</small></p>
      
    </div>
  </div>
</div>


  </div>


</section>



<section class="slide page" id="empty">
  <div class="row-fluid page container-narrow" >
  </div>
</section>



<section class="slide page" id="tech">
  <div class="row-fluid page container-narrow" >
    <h2>Technology Details</h2>
    <div class="sample-content">

      <div class="span12 row-fluid">
	<p><small>Using a modified version of the wilson score confidence interval.  Calculates an uncertainty on the rating.</small></p>
	<img src="/static/images/wilson.png" style="height: 60px;">
	<p><small>Rating is scaled toward the average via the calcuated uncertainty.  Restaurants with few (<40) reviews tend toward the extremes of the rating scale when compared to those with more reviews (>40)</small></p>
	<img src="/static/images/r23.png" style="height: 350px;">

      </div>
    </div>
  </div>
</section>






<!-- Deck Core and extensions -->
<script src="/static/deck/core/deck.core.js"></script>
<script src="/static/deck/extensions/hash/deck.hash.js"></script>
<script src="/static/deck/extensions/menu/deck.menu.js"></script>
<script src="/static/deck/extensions/goto/deck.goto.js"></script>
<script src="/static/deck/extensions/status/deck.status.js"></script>
<script src="/static/deck/extensions/navigation/deck.navigation.js"></script>

<!-- Initialize the deck -->
<script>
  $(function() {
  $.deck('.slide');
  });
</script>

{% endblock %}

