
{% extends "template.html" %}

{% block head %}

<link rel="stylesheet" href="/static/deck/core/deck.core.css">
<link rel="stylesheet" href="/static/deck/css/home.css">
<link rel="stylesheet" href="/static/deck/themes/style/swiss.css">
<link rel="stylesheet" href="/static/deck/themes/transition/fade.css">

<script src="/static/deck/modernizr.custom.js"></script>

{% endblock %}


{% block main %}

<!-- Slide 1 -->
<section class="slide" id="intro" >
  <div class="row-fluid page container-narrow" >
    <div class="span12 row-fluid">
      <h1>Dine-amic Foods</h1>
<hr>
      <h3>Smart Decisions Based on Dynamic Data</h3>
      <img src="/static/images/foodBkg.jpg" style="height: 300px; margin-top: 20px;" >
    </div>
  </div>
</section>

<!-- Slide 2 -->
<section class="slide page" id="problem">
  <div class="row-fluid page container-narrow" >
    <h2>Yelp Contains Lots of Information</h2>
    <div class="sample-content">

      <div class="span12 row-fluid">
	<p>But it's <b>hard</b> to make efficient use of it</p>
	<img src="/static/images/talk2-1.png" style="height: 400px;">
      </div>
    </div>
  </div>
</section>

<!-- Slide 2 -->
<section class="slide page" id="problems">
  <div class="row-fluid page container-narrow" >
    <h2>...and so does Google.</h2>
    <div class="sample-content">

      <div class="span12 row-fluid">
	<p>Hundreds of results</p>
	<img src="/static/images/talk2-2.png" style="height: 400px;">
      </div>
    </div>
  </div>
</section>


<!-- Slide 2 -->
<section class="slide page" id="problemss">
  <div class="row-fluid page container-narrow" >
    <h2>Dynamic Conditions are Important too</h2>
    <div class="sample-content">

      <div class="span12 row-fluid">
	<p>Sunny days are not the same as thunderstorms.</p>
	<img src="/static/images/weather5.png" style="height: 400px;">
	<p>But who has time to wade through this information!</p>
      </div>
    </div>
  </div>
</section>

<!-- Slide 3 -->
<section class="slide page" id="solution">
  <div class="row-fluid page container-narrow" >
    <h2>The Solution</h2>
    <div class="sample-content">
      <p>Dineamic Foods helps you make the smart choice.</p>
      <p> It combines google and yelp ratings data in a smart manner.  </p>
      <p>Assess the yelp ratings using modified Wilson confidence interval and using the yelp public dataset. </p>
      <p>It pulls real time data from the national weather service to bubble up or down weather-appropriate food choices</p>
      <p>  Resulting in a few choices presented in a simple, easy to use manner.
	


  </div>
</section>



<section class="slide page" id="cartoon">
  <div class="row-fluid page container-narrow" >
    <h2>Application Details</h2>
    <div class="sample-content">
      <div class="span12 row-fluid">
	<img src="/static/images/techStuff.png" style="height: 450px; border: 3px solid black;" >
      </div>
    </div>
  </div>
</section>




<section class="slide page" id="about">
  <div class="row-fluid page container-narrow" >
    <h2>Daniel Silverstein</h2>
    <div class="sample-content">

	<div class="span6">
	<img src="/static/images/pixels.jpg" style="height: 160px;">
	</div>


	<p><small>Worked as part of the 1000+ scientist experiment using the LHC at CERN.  Detector calibration (algorithms) and searching for dark matter (machine learning).</small></p>
    </div>
    <div class="row-fluid" >
      <div class="sample-content">
	<div class="span6">
	  <img src="/static/images/coaching.jpg" style="height: 190px;">
	</div>
	<p><small>A large amount of free time is devoted to ultimate frisbee - coaching, managing, and administrating</small></p>
	
      </div>
    </div>

  <div class="row-fluid" >
    <div class="sample-content">
      <div class="span6">
	<img src="/static/images/old.jpg" style="height: 180px;">
      </div>
      <p><small>And sometimes playing too (when I was young)</small></p>
      
    </div>
  </div>
</div>


  </div>


</section>



<section class="slide page" id="empty">
  <div class="row-fluid page container-narrow" >
  </div>
</section>



<section class="slide page" id="tech">
  <div class="row-fluid page container-narrow" >
    <h2>Technology Details</h2>
    <div class="sample-content">

      <div class="span12 row-fluid">
	<p><small>Using a modified version of the wilson score confidence interval.  Calculates an uncertainty on the rating.</small></p>
	<img src="/static/images/wilson.png" style="height: 60px;">
	<p><small>Rating is scaled toward the average via the calcuated uncertainty.  Restaurants with few (<40) reviews tend toward the extremes of the rating scale when compared to those with more reviews (>40)</small></p>
	<img src="/static/images/r23.png" style="height: 350px;">

      </div>
    </div>
  </div>
</section>





<!--

<section class="slide page" id="Algorithm">
  <div class="row-fluid page container-narrow" >
    <h2>The Algorithm</h2>
    <div class="sample-content">
      <img src="/static/images/weight_algorithm.png" style="height: 500px;">
    </div>
  </div>
</section>


<section class="slide page" id="Algorithm">
  <div class="row-fluid page container-narrow" >
    <h2>Online Learning</h2>
    <div class="sample-content">
      <img src="/static/images/OnlineLearning.png" style="height: 500px;">
    </div>
  </div>
</section>


<section class="slide page" id="Stack">
  <div class="row-fluid page container-narrow" >
    <h2>The Stack</h2>
    <div class="sample-content" >
      <img src="/static/images/Stack.jpeg" style="height: 500px;">
    </div>
  </div>
</section>



<section class="slide page" id="AboutMe">
  <div class="row-fluid page container-narrow" >
    <h2>whoami</h2>
    <div class="sample-content">
      <ul>
	<li>George Lewis</li>
	<li>PhD in high energy experimental particle physics</li> 
	<li>New York University</li>
	<li>Worked on the Large Hadron Collider (LHC)</li>
	<li>Member of the ATLAS experiment</li>
      </ul>
    </div>

    <div style="text-align: center;">
      <img src="/static/images/lhc.jpg" style="width: 400px; display: inline;"/>
      <br>
      <img src="/static/images/atlas.gif" style="margin-right: 10px; width: 100px; display: inline;"/>
      <img src="/static/images/nyu_logo.jpeg" style="margin-left: 10px; width: 100px; display: inline;"/>
    </div>
  </div>

  <a href="https://github.com/ghl3/BarkovChain" style="margin-top: 30px;">
    <img style="position: absolute; top: 30px; left: 0; border: 0;" 
	 src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png" 
	 alt="Fork me on GitHub">
  </a>

</section>
-->

<!-- Deck Core and extensions -->
<script src="/static/deck/core/deck.core.js"></script>
<script src="/static/deck/extensions/hash/deck.hash.js"></script>
<script src="/static/deck/extensions/menu/deck.menu.js"></script>
<script src="/static/deck/extensions/goto/deck.goto.js"></script>
<script src="/static/deck/extensions/status/deck.status.js"></script>
<script src="/static/deck/extensions/navigation/deck.navigation.js"></script>

<!-- Initialize the deck -->
<script>
  $(function() {
  $.deck('.slide');
  });
</script>

{% endblock %}

